.grid {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 5px;
    margin-bottom: 15px;
}

.grid label {
    display: block;
    width: 40px;
    height: 40px;
    background: #f8d7da;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.grid input[type="checkbox"] {
    display: none;
}

.grid input[type="checkbox"]:checked + label {
    background: #0d6efd;
    color: white;
}
